* {
    box-sizing: border-box;
}
button:focus {
    box-shadow: none;
}

/***************************
***PRIMARY BUTTON STYLES***
****************************/
.primary {
    background: var(--clr-primary);
    color: var(--clr-white);
    border: none;
}
.primary:hover {
    background: var(--clr-secondary);
}


/***************************
***SECONDARY BUTTON STYLES***
****************************/
.secondary {
    background: transparent;
    color: var(--clr-black);
    border: 1px solid var(--clr-black);
}
.secondary:hover {
    background: var(--clr-black);
    border: 1px solid var(--clr-black);
    color: var(--clr-white);
}


/***************************
***BORDERLESS BUTTON STYLES***
****************************/
.borderless {
    background: none;
    color: var(--clr-black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
}
.borderless:hover {
    color: var(--clr-primary);

}
/**SIZE VARIANTS*/

.small_size {
    padding: 5px 25px;
    height: 30px;
}

.default_size {
    width: 160px;
    height: 48px;
    padding: 0.5rem 1rem;
}