/***************************
*** HERO AREA STYLES***
****************************/

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 3rem 2rem 1rem;
  background: var(--clr-light);
  border-radius: 8px;
  width: 100%;
  margin-bottom: 2rem;
}

.logo_container {
  position: absolute;
  top: -3.1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.card_image {
  max-width: 20%;
}

@media screen and (min-width: 460px) {
  .logo_container{
     top: -4.5rem;
     width: 25rem;
  }
 
 }

@media screen and (min-width: 960px) {
 .logo_container{
    top: -3.5rem;
    width: 25rem;
 }
 .container {
  width: 20rem;
}
}