:root {

    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.35rem;
    --fs-700: 4rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.938rem;
    --fs-100: 0.8rem;
}