/***************************
*** HERO AREA STYLES***
****************************/
.hero {
    background: url('../../../resources/assets//home/mobile/image-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    padding-top: 50%;
}
/* .hero_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 30% 2rem;

}
.hero_title {
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5rem;
    color: var(--clr-grey);
}
.hero_body{    
    color: var(--clr-light);
    margin-bottom: 0.1rem;
    text-align: center;
}

.hero_description{    
    color: var(--clr-grey);
    margin-bottom: 2rem;
}

.hero_title, .hero_body, .hero_description {
    text-align: center;
} */

/***************************
*** PRODUCT CATEGORY STYLES***
****************************/
.product_categories_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 1rem;
    margin: 7rem 0 4rem;
}

