/***************************
*** HERO AREA STYLES***
****************************/
.hero {
    background: url('../../../resources/assets//home/mobile/image-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    padding-top: 50%;
}


/***************************
*** PRODUCT CATEGORY STYLES***
****************************/
.product_categories_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 1rem;
    margin: 7rem 0 4rem;
    @media (min-width: 670px) {
        flex-direction: row;
       
        justify-content: space-between;
        gap: 2rem;
    }
}

.product_feature_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 1rem;
    margin: 7rem 0 4rem;
  
}
/***************************
*** MEDIA SCREENS***
****************************/
