.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: grey;
    border-radius: var(--bd-radius);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}