.navbar {
    background: var(--clr-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    border-bottom: 0.004px solid var(--clr-grey);
    position: sticky;
    z-index: 100;
    top: 0;
  
}
.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.nav_list_header {
    display: none;
}
.nav_list li {
    list-style: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
}
.nav_list li .a:hover {
    color: var(--clr-primary);
}
.nav_list li .a {
    text-decoration: none;
    font-size: smaller;
    color: var(--clr-grey);
}
.cart_wrapper {
    position: relative;
}
.hamburger{
    display: block;
}
/************************/
/*** MEDIA QUERIES ******/
/**** DESKTOP **********/
/************************/

@media screen and (min-width: 960px){
    .nav_list {
        flex-direction: row;
    }
    .hamburger{
        display: none;
    }
    .nav_list {
        flex-direction: row;
    }
    .nav_list_header {
        display: flex;
    }
    .root_container {
        width: var(--root-container-width);
    }
    .navbar_container {
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: space-between;
        width: var(--root-container-width);
    }
  
}