.container {
    padding: 1rem;
    background-color: var(--clr-light);
    padding-bottom: 4rem;
}

.form_container {
   margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: var(--clr-white);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form_container h2 {
    margin-bottom: 1rem;
}
.go_back_button {
    color: var(--clr-grey2);
}
.billing_details {
    color: var(--clr-secondary);
    margin-top: 2rem;
    
}

.modal_outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.empty_cart_warning {
    color: var(--clr-warning);
    font-size: 0.8rem;
    font-weight: 600;
}