.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0 2rem 1rem;
    background: var(--clr-accent);
    width: 100%;
}
.hr_line {
    height: 0.2rem;
    width: 20%;
    background-color: var(--clr-primary);
    border: none;
    margin: 0 auto;
}
.footer_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.footer_text p {
    line-height: var(--txt-line-height);
    color: var(--clr-grey);
    margin-bottom: 3rem;
}

.copyright {
    color: var(--clr-grey);
    font-size: 1rem;
    font-weight: 500;
}
.social_media {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.footer_wrap {
    width: 100%
}
.logo_navlist_footer{
 margin-bottom: 2rem;
 text-align: center;
 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem;
}
.footer_navlist{
    margin-top: 3rem;
   }
/*** MEDIA QUERIES ***/
/**DESKTOP **/
@media screen and (min-width: 960px) {
    .footer_wrap {
        width: var(--root-container-width);
    }
    .logo_navlist_footer{
        
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
        
    }
    .footer_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 1rem;
        width: 50%;
       
    }
    .footer_navlist{
        margin-top: 0;
       }
}