.cart_counter {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 70%;
    border-radius: 50%;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    font-weight: 500;
    padding: 0.2rem;
}

.cart_counter p {
    margin: 0;
    font-size: 0.6rem;
}
